<div data-role="view" data-title="Home" data-layout="main" 
     data-model="APP.models.home">
    <ul data-role="listview" 
        data-style="inset" data-template="newsTemplate" 
        id="newsList" style="direction: rtl;">
    </ul>
</div>

<script type="text/x-kendo-template" id="newsTemplate">
    # console.log((jQuery.parseJSON(data)).Result);
    #
    # for (var s = 0;s < jQuery.parseJSON(data).Count;s++) { #
    <li class="NewsLI">
        #: (jQuery.parseJSON(data)).Result[s].Title #
    </li>
    # }
    
    #
</script>

<script>
    
    
    // ************* :: IMPORTANT ::  Change the API key *************
    
    
    var url = "http://api.everlive.com/v1/your-api-key-here/";
    
    try {
        var BreakingNewsTemplate = kendo.template($("#newsTemplate").html());
        $.ajax({
                   type: 'Get',
    
    			   // ************* :: IMPORTANT :: Change the Type (Table name) *************
                   url: url + 'your-type-here',
    
                   success: function(data) { 
                       if (data.Count) { 
                           $("#newsList").html(BreakingNewsTemplate(JSON.stringify(data)));
                       } else {
                           $("#newsList").html('<li>لا يوجد مواضيع</li>');
                       }
    
                       kendo.init($("#newsList"));
                   }
                   ,
                   error: function(error) {
                       console.log(jqXHR.responseText || textStatus);
                   }
               });
    } catch (ex) {
        console.log((ex.message)?ex.message:"Error 103");
    
        $("#newsList").html('<li>حصل خطأ متوقع، الرجاء التأكد من الاتصال بالانترنت</li>');
    }
</script>